[submodule "deps/libpd"]
	path = deps/libpd
	url = https://github.com/libpd/libpd.git
[submodule "deps/rtaudio"]
	path = deps/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "deps/sol2"]
	path = deps/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "deps/raylib"]
	path = deps/raylib
	url = https://github.com/raysan5/raylib.git
